  <h1 id="welcome">Welcome to HPR<a href="<!--% absolute_url(baseurl,'about.html#about') %-->">.</a></h1>
 
  <ul>
  <li><a href="<!--% absolute_url(baseurl,'about.html#about') %-->">About HPR.</a></li>
  <li><a href="<!--% absolute_url(baseurl,'about.html#contact') %-->">Contact.</a></li>
  <li><a href="<!--% absolute_url(baseurl,'about.html#press') %-->">In the Press.</a></li>
  <li><a href="<!--% absolute_url(baseurl,'about.html#so_you_want_to_record_a_podcast') %-->">So you want to record a podcast.</a></li>
  <li><a href="<!--% absolute_url(baseurl,'about.html#requested_topics') %-->">Requested Topics.</a></li>
  <li><a href="<!--% absolute_url(baseurl,'about.html#agreement') %-->">Stuff you need to know.</a></li>
  <li><a href="<!--% absolute_url(baseurl,'about.html#recording_a_podcast') %-->">Recording a Podcast.</a></li>
  <li><a href="<!--% absolute_url(baseurl,'about.html#promote_hpr') %-->">Please promote HPR.</a></li>
  <li><a href="<!--% absolute_url(baseurl,'about.html#requesting_slot') %-->">Picking a slot for your show.</a></li>
  <li><a href="<!--% absolute_url(baseurl,'about.html#adding_an_episode') %-->">Adding an Episode.</a></li>
  <li><a href="<!--% absolute_url(baseurl,'about.html#scheduling_guidelines') %-->">Scheduling Guidelines.</a></li>
  <li><a href="<!--% absolute_url(baseurl,'about.html#reserve_queue') %-->">The reserve queue.</a></li>
  <li><a href="<!--% absolute_url(baseurl,'about.html#workflow') %-->">Workflow.</a></li>
  <li><a href="<!--% absolute_url(baseurl,'about.html#faq') %-->">Frequently Asked Questions.</a></li>
  </ul>

  <h1 id="about">About HPR<a href="<!--% absolute_url(baseurl,'about.html#about') %-->">.</a></h1>

  <h2 id="community">The HPR Community<a href="<!--% absolute_url(baseurl,'about.html#community') %-->">.</a></h2>
  <p>What differentiates HPR from other podcasts is that the shows are crowd sourced from the community - 
    fellow listeners like <strong><a href="<!--% absolute_url(baseurl,'about.html#contact') %-->">you</a></strong>. 
    There is no restriction on how long the show can be, nor on the topic you can cover as long as they are not spam 
    and <em>&quot;are of interest to <a href="http://en.wikipedia.org/wiki/Hacker_(hobbyist)" >Hackers</a>&quot;</em>. 
    If you want to see what topics have been covered so far just have a look at our 
    <a href="<!--% absolute_url(baseurl,'eps/index.html') %-->">Archive</a>. 
    We also allow for a <a href="<!--% absolute_url(baseurl,'series/index.html') %-->">series</a> of shows so that 
    hosts can go into more detail on a topic.<p>

  <p>You can download/listen to the shows <a href="<!--% absolute_url(baseurl,'eps/index.html') %-->">here</a> 
  or you can <a href="<!--% absolute_url(baseurl,'syndication.html') %-->">subscribe</a> to the show in your favorite podcatching client 
  to automatically get our new shows as soon as they are available. 
  You can copy and redistribute the shows for free provided you adhere to the 
  <a href="https://creativecommons.org/licenses/by-sa/4.0/" >Creative Commons Attribution<WBR> 
  Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) License</a>.</p>

  <h2 id="history">History<a href="<!--% absolute_url(baseurl,'about.html#history') %-->">.</a></h2>
  <p>Hacker Public Radio (HPR) is an Internet Radio show (podcast) that releases shows every weekday Monday through Friday. 
    HPR has a long lineage going back to <a href="https://web.archive.org/web/20230323053905/http://www.oldskoolphreak.com/" >Radio FreeK America</a>, 
    <a href="https://web.archive.org/web/20220123174618/https://www.binrev.com/forums/" >Binary Revolution Radio</a> &amp; <a href="https://web.archive.org/web/20150208172826/http://www.nomicon.info/" >Infonomicon</a>, 
    and it is a rename of <a href="<!--% absolute_url(baseurl,'twat.html') %-->" >Today With a Techie</a> radio.
    Please listen to StankDawg&#39;s &quot;<a href="<!--% media_path(1, 'hpr', 'mp3', baseurl, media_baseurl) %-->" >
      Introduction to HPR</a>&quot; for more information.</p>

  <h2 id="free_culture">Free Culture<a href="<!--% absolute_url(baseurl,'about.html#free_culture') %-->">.</a></h2>
  <p>Hacker Public Radio is dedicated to sharing knowledge. We do not accept donations so please consider supporting our patrons. 
    If you listen to HPR, then we would love you to <a href="contribute.html">contribute</a> one show a year. 
    Our shows are by default released under a <a href="https://creativecommons.org/licenses/by-sa/4.0/"  >
    Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)</a> license. 
    All the software we use is <a href="https://en.wikipedia.org/wiki/Free_software" >Free software</a>. 
    All the code we develop is published in our <a href="https://repo.anhonesthost.net/explore/repos" >GitTea</a> repository. 
    All the media is available via the <a href="<!--% absolute_url(baseurl,'syndication.html') %-->">feeds</a>.</p>
  
  <h2 id ="governance" >Governance<a href="<!--% absolute_url(baseurl,'about.html#governance') %-->">.</a></h2>
  <p>HPR is entirely community driven. 
    Policy decisions are proposed and discussed on the <a href="<!--% absolute_url(baseurl,'/maillist') %-->" >Mailing list</a>, 
    which is open to anyone to join. 
    Mailing list discussions are brought to the attention of the listening community on the first Monday of the month in the 
    <a href="<!--% absolute_url(baseurl,'series/0047.html') %-->" >HPR Community News</a> show. 
    This show is also <a href="<!--% absolute_url(baseurl,'recording.html#round_table') %-->" >open to anyone</a> to participate in. 
    The schedule for the Community News shows can be downloaded as an <a href="<!--% absolute_url(baseurl,'HPR_Community_News_schedule.ics') %-->">iCal calendar</a> containing recording dates for the next 12 months. A reminder is also sent to the mailing list in the week before the recording.</p>
  <p>Our hosting is kindly provided to us by <a href="<!--% absolute_url(baseurl,'correspondents/0174.html') %-->">Josh Knapp</a> from <a href="https://anhonesthost.com/hosting/shared-hosting">AnHonestHost.com</a>, and he has the last word in issues related to site security. A changing team of volunteers called the "admins" or "Janitors", deal with the day to day operation of HPR. Acting as the first point of contact, processing the shows, coordinating policy discussions, removing spam, updating the website, etc. They are contactable via the email account admin @ HPR. They have no more say over policy than anyone else. Anyone who has shown a long term dedication to the project and is trusted by the community, can become an admin. 
  </p>
  <p>See the section <a href="<!--% absolute_url(baseurl,'about.html#stuff_you_need_to_know') %-->" >stuff you need to know</a> for more information.</p>
  <h3 id="recent_policy_changes">Recent Policy Changes</h3>
  <ul>
  <li><a href="https://lists.hackerpublicradio.com/pipermail/hpr/2021-July/004191.html">HPR will move #oggcastplanet on libera, 
  and we will also include links to the matrix, and <a href="https://botsin.space/@hpr">Mastodon</a> channel</a></li>
  <li><a href="https://lists.hackerpublicradio.com/pipermail/hpr/2021-August/004200.html">Existing shows will be 
  flagged with the current version and new shows will default to "Attribution 4.0 International (CC BY 4.0)"</a></li>
  <li><a href="https://lists.hackerpublicradio.com/pipermail/hpr/2021-November/004328.html">The Intro Outro will be 
  changed and the upload form will remove the option to add intro and outros.</a></li>
  <li><a href="https://lists.hackerpublicradio.com/pipermail/hpr/2021-December/004341.html">Removal of "by arranged permission" 
  when posting to HPR</a></li>
  </ul>
  <h2 id ="patrons" >Please support our Patrons<a href="<!--% absolute_url(baseurl,'about.html#patrons') %-->">.</a></h2>
  <p>
  Our hosting is kindly provided by <a href="<!--% absolute_url(baseurl) %-->correspondents/0174.html">Josh</a> from 
  <a href="https://anhonesthost.com/shared-hosting/">AnHonestHost.com</a>. 
  We would appreciate it if you could <a href="https://secure.anhonesthost.com/cart.php?gid=17">donate</a> to help 
  reduce his costs in funding the hosting. He is also accepting bitcoins to <em>1KsxJr9HtsdaUeU7yaV9bk9bQi21UPBtUq</em>
  </p>
  <p>
  Please also consider supporting the <a href="https://archive.org/donate/">https://archive.org/donate/</a> who are 
  now hosting our media files.
  </p>
  
  <hr />

  <h1 id="contact">Contact<a href="<!--% absolute_url(baseurl,'about.html#contact') %-->">.</a></h1>

  <p>We are always looking for more hosts...</p>
  <ul>
    <li>email: <strong>admin -at- hackerpublicradio org</strong><br />
    <em>As an anti-spam measure you will get an error back but we do get your email.</em></li>
    <li>Website: <a href="<!--% absolute_url(baseurl,'') %-->" ><!--% absolute_url(baseurl,'') %--></a></li>
    <li>Maillist: <a href="<!--% absolute_url(baseurl,'/maillist') %-->">Mailing list</a></li>
    <li><a href="https://web.libera.chat/gamja/?channels=oggcastplanet" >#oggcastplanet</a></li>
    <li><a href="https://www.facebook.com/home.php?sk=group_130169220378872¬if_t=group_r2j" >Facebook</a></li>
    <li><a href="https://www.linkedin.com/company/hackerpublicradio/" >Linked-In</a></li>
    <li><a href="http://itunes.apple.com/us/podcast/hacker-public-radio/id281699640" >iTunes</a></li>
  </ul>
  <h2>Mail List</h2>
  <p>
  HPR is governed by the community, so decisions about how Hacker Public Radio should be run are made on the mailing list you can join it by going to :<br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="<!--% absolute_url(baseurl,'/maillist') %-->"><!--% absolute_url(baseurl,'/maillist') %--></a>
  </p>

  <hr />
  
  <h1 id ="press" >In the Press<a href="<!--% absolute_url(baseurl,'about.html#press') %-->">.</a></h1>
  <ul>
  <li>2019-10-18: <a href="https://blog.feedspot.com/hacker_podcasts/">Top 10 Hacker Podcasts You Must Follow in 2019</a> (<a href="<!--% absolute_url(baseurl,'press/2019-10-18_blog.feedspot.com-hacker_podcasts-Top_10_Hacker_Podcasts_You_Must_Follow_in_2019.pdf') %-->">Archived</a>)</li>
  <li>2018-08-01: <a href="https://www.linuxlinks.com/review-hacker-public-radio-podcasts-hacker-community/">Review: The Linux Podcast Scene - all the movers and shakers</a> (<a href="<!--% absolute_url(baseurl,'press/2018-08-01_linuxlinks.com_review-linux-podcast-scene-movers-shakers.pdf') %-->">Archived</a>)</li>
  <li>2016-06-26: <a href="http://www.podcastawards.com/">11th Podcast Awards</a> (<a href="<!--% absolute_url(baseurl,'press/2016-06-26_www.podcastawards.com.png') %-->">Archived</a>)</li>
  <li>2016-05-18: <a href="http://solutionsreview.com/endpoint-security/top-ten-cybersecurity-podcasts/">Ten Security Podcasts You Should Be Listening To</a> by Lauren Cooke in Endpoint Security News (<a href="<!--% absolute_url(baseurl,'press/2016-05-18_solutionsreview.com_endpoint-security_top-ten-cybersecurity-podcasts.png') %-->">Archived</a>)</li>
  <li>2016-01-18: <a href="http://www.tripwire.com/state-of-security/security-awareness/information-security-podcast-roundup-2016-edition/">Information Security Podcast Roundup: 2016 Edition</a> from TripWire.com (<a href="<!--% absolute_url(baseurl,'press/2016-01-18_Information_Security_Podcast_Roundup_2016_Edition.pdf') %-->">Archived</a>)</li>
  <li>2014-12-09: <a href="http://joeyh.name/blog/entry/podcasts_that_dont_suck_2014/">podcasts that don't suck, 2014 edition (Joey Hess)</a>(<a href="<!--% absolute_url(baseurl,'press/2014-12-09_podcasts_that_dont_suck_2014_edition.pdf') %-->">Archived</a>)</li>
  <li>2014-06-30: <a href="http://opensource.com/life/14/6/hacker-public-radio">Free software on Hacker Public Radio</a> by Bryan Behrenshausen (Red Hat)(<a href="<!--% absolute_url(baseurl,'press/2014-06-30_Free_software_on_Hacker_Public_Radio.pdf') %-->">Archived</a>)</li>
  <li>2014-04-19: <a href="http://www.efytimes.com/e1/fullnews.asp?edid=136312">10 Useful Places Hosting Informative Podcasts On Linux</a> (<a href="<!--% absolute_url(baseurl,'press/2014-04-19_10_Useful_Places_Hosting_Informative_Podcasts_On_Linux.pdf') %-->">Archived</a>)
  <li>2014-04-11: <a href="http://blog.sleeplessbeastie.eu/2014/04/11/hand-picked-audio-podcasts-for-linux-users/">Hand-picked audio podcasts for Linux users</a> by Milosz Galazka (<a href="<!--% absolute_url(baseurl,'press/2014-04-11_hand-picked-audio-podcasts-for-linux-users.pdf') %-->">Archive</a>)</li>
  <li>2013-10-11: <a href="http://www.linuxlinks.com/article/20130706190339587/LinuxPodcasts-Page1.html">Illuminating Linux Podcasts</a> by Dan Petersen (<a href="<!--% absolute_url(baseurl,'press/2013-10-11_Illuminating_Linux_Podcasts.pdf') %-->">Archive</a>)</li>
  <li>2012-12-24: <a href="http://www.maketecheasier.com/10-great-podcasts-for-linux-open-source-geeks/">10 Great Podcasts for Linux &amp; Open Source Geeks</a> by Rebecca "Ruji" Chapnik (<a href="<!--% absolute_url(baseurl,'press/2012-12-24_10-great-podcasts-for-linux-open-source-geeks.pdf') %-->">Archived</a>)</li>
  <li>2011-08-01: <a href="http://www.linuxformat.com/archives?issue=147">Linux Format: Pick the perfect geek podcast in our roundup</a> by Mayank Sharma in Linux Format Magazine(<a href="<!--% absolute_url(baseurl,'press/2011-08-01_hpr-linux-format.png') %-->">Archive</a>)</li>
  </ul>
 
  <hr />
  <h1 id="how_to_help">How to Help<a href="<!--% absolute_url(baseurl,'about.html#how_to_help') %-->">.</a></h1>

  <p>
  Hacker Public Radio is a communty podcast where the shows are provided by the community, and is also
  <a href="<!--% absolute_url(baseurl,'about.html#governance') %-->">governed</a> by the community, 
  and we rely on the <a href="<!--% absolute_url(baseurl,'about.html#patrons') %-->">support our Patrons</a> 
  to provide the hosting infrastructure.
  </p>
  <h2 id="submit_a_show">Submit a show</h2>
  <p>One of the best ways to help out is to 
  <a href="<!--% absolute_url(baseurl,'about.html#so_you_want_to_record_a_podcast') %-->">contribute a show</a>.
  You can find out <a href="<!--% absolute_url(baseurl,'about.html#stuff_you_need_to_know') %-->">everything you need to know here</a>. </p>
  
  <h2 id="suggest_topics">Suggest Topics</h2>
  <p>If there is a technical topic you would like us to cover, or if you are looking for topics to record a show on, 
  then look no further than our <a href="<!--% absolute_url(baseurl,'about.html#requested_topics') %-->">Requested topics</a> page.</p>

  <h2 id="podcatcher_support">Podcatcher Support</h2>
  <p>
  Please report your experiences with our feeds to <!--% absolute_url(baseurl,'about.html#contact') %-->admin@hpr</a>. 
  </p>

  <h2 id="other_ways_to_help">Other ways to help</h2>
  <p>
  You can help by:
  <ul>
  <li>Spreading the word</li>
  <li>Creating a HPR page on wikipedia</li>
  <li>Listen to the shows and add constructive comments</li>
  <li>Attending the Community News monthly show</li>
  <li>Participate in the community channels</li>
  <li><a href="<!--% absolute_url(baseurl,'about.html#so_you_want_to_record_a_podcast') %-->">Submitting a show</a></li>
  <li>Getting others to contribute a show</li>
  <li>Suggesting show topics</li>
  <li>Representing HPR at a local meetup</li>
  <li>Producing Stickers/Banners merch</li>
  <li>Paying the domain costs</li>
  <li>Supporting Mumble hosting</li>
  <li>Locating and fixing bugs on our gittea repo</li>
  <li>Improving the documentation on our gittea repo</li>
  <li><a href="<!--% absolute_url(baseurl,'about.html#patrons') %-->">Support our Patrons</a></li>
  </ul>
  </p>
  
  <hr />
  <h1 id="download">Download Archive<a href="<!--% absolute_url(baseurl,'about.html#download') %-->">.</a></h1>

  <p>Please be aware that our Archive exceeds <strong>62Gb</strong> <em>(Ogg: 21Gb, Spx: 16Gb, mp3: 25Gb)</em>. We are happy for you to download them, but please make sure that you are not going to incur additional bandwidth charges on your side.</p>

  <p>We will be happy to post you the episodes on physical media anywhere in the world if bandwidth is an issue.</p>

  <h2>Full Episode Guide</h2>
  <p>
  The <a href="<!--% absolute_path(baseurl) %-->eps/index.html">compete episode guide</a> is available to you, and it lists all the shows on one page going right back to the very first episode.
  </p>
  <h2>Command line download</h2>
  <p>
  You can download the audio of the episodes directly from the command line using the following commands:
  </p>
  <ul>
    <li>ogg:<br />
    <span style="font-family:monospace;">curl '<!--% absolute_path(baseurl) %-->eps/hpr[0001-<!--% episode.latest %-->].ogg' -o "hpr#1.ogg"</span></li>
    <li>spx:<br />
    <span style="font-family:monospace;">curl '<!--% absolute_path(baseurl) %-->eps/hpr[0001-<!--% episode.latest %-->].spx' -o "hpr#1.spx"</span></li>
    <li>mp3:<br />
    <span style="font-family:monospace;">curl '<!--% absolute_path(baseurl) %-->eps/hpr[0001-<!--% episode.latest %-->].mp3' -o "hpr#1.mp3"</span></li>
  </li>
  </ul>
  
  <hr />
  
  <h1 id="so_you_want_to_record_a_podcast">So you want to record a podcast<a href="<!--% absolute_url(baseurl,'about.html#so_you_want_to_record_a_podcast') %-->">.</a></h1>

  <p>Well you've come to the right place. Our goal here at HPR is to make it as easy as possible for you to get a podcast released. We take care of the hard bits so you don't need to. Recording your first show is always a daunting prospect but <a href="<!--% absolute_url(baseurl) %-->correspondents/index.html">hundreds of people</a> like yourself have done it and so can you.
  </p>
  
  <h2 id="stuff_you_need_to_know">1. Stuff you need to know<a href="<!--% absolute_url(baseurl,'about.html#stuff_you_need_to_know') %-->">.</a></h2>
  <ul>
    <li>HPR will stop as a project if there are not enough Shows.</li>
    <li>We do not <a href="<!--% absolute_url(baseurl,'about.html#syndication') %-->">syndicate</a> shows not produced for HPR.</li>
    <li>You are agreeing to <a href="<!--% absolute_url(baseurl,'about.html#license') %-->">license</a> your show CC BY-SA 4.0.</li>
    <li>You have <a href="<!--% absolute_url(baseurl,'about.html#permission') %-->">permission</a> to redistribute your show in its entirety.</li>
    <li>Your audio will <a href="<!--% absolute_url(baseurl,'about.html#not_moderated') %-->">not be moderated.</a></li>
    <li>Your show will be signaled as containing <a href="<!--% absolute_url(baseurl,'about.html#explicit') %-->">explicit</a> content.</li>
    <li>You determine where in the <a href="<!--% absolute_url(baseurl,'about.html#schedule') %-->">schedule</a> your show will be released.</li>
    <li>We use <a href="<!--% absolute_url(baseurl,'about.html#utf8') %-->">UTF-8</a> end to end.</li>
    <li>Your show will be heard by an <a href="<!--% absolute_url(baseurl,'about.html#international') %-->">International</a> Audience.</li>
    <li>We also need <a href="<!--% absolute_url(baseurl,'about.html#reserve_queue') %-->">reserve</a> shows.</li>
    <li>You will no longer be allowed to edit HPR pages on 
      <a href="<!--% absolute_url(baseurl,'about.html#faq_wikipedia') %-->">Wikipedia</a>.</li>
  </ul>
  
  <h2 id="select_a_topic">2. Select a Topic<a href="<!--% absolute_url(baseurl,'about.html#select_a_topic') %-->">.</a></h2>
  <p>
  The first thing you will need to do is decide on a topic for your show. You might already have an 
  idea but if not you can have a look at our <a href="<!--% absolute_url(baseurl) %-->eps/index.html">Archive</a> 
  page for examples of shows people have recorded in the past. You can also look at our 
  <a href="<!--% absolute_url(baseurl,'about.html#requested_topics') %-->">Requested Topics</a>, or our 
  <a href="<!--% absolute_url(baseurl) %-->series/index.html">Series</a> page to see if you can add your knowledge to the pool.
  </p>
  <p>
  If you are worried that your show may not be of interest to Hackers then you can <a href="<!--% absolute_url(baseurl) %-->will-my-show-be-of-interest-to-hackers.html">click here</a> to check if it is.
  </p>
  <p>
  If you can't think of anything to talk about then please just record a show telling us 
  <a href="<!--% absolute_url(baseurl) %-->series/0029.html">how you got into tech</a> 
  as a way to introducing yourself to the community.
  </p>

  <h2 id="record_your_show">3. Record your show<a href="<!--% absolute_url(baseurl,'about.html#record_your_show') %-->">.</a></h2>
  <p>
  Please select <a href="<!--% absolute_url(baseurl,'about.html#recording_a_podcast') %-->">more detailed information</a> 
  on how to record a show:
  </p>
  <ul>
    <li>Recording with a <a href="<!--% absolute_url(baseurl,'about.html#portable_media_player') %-->">portable media player</a>.</li>
    <li>Recording with a <a href="<!--% absolute_url(baseurl,'about.html#smart_phone') %-->">smart phone</a>.</li>
    <li><a href="<!--% absolute_url(baseurl,'about.html#editing') %-->">Recording/Editing</a> using your Computer.</li>
    <li>Recording Interviews with the <a href="<!--% absolute_url(baseurl,'about.html#phone_interviews') %-->">Phone</a>.</li>
    <li>Recording <a href="<!--% absolute_url(baseurl,'about.html#round_table') %-->">round table</a> discussions.</li>
    <li>Avoid <a href="<!--% absolute_url(baseurl,'about.html#background_music') %-->">Bedding/background</a> music.</li>
    <li>We mix down to <a href="<!--% absolute_url(baseurl,'about.html#encoding') %-->">Mono</a>.</li>
    <li>No need to add <a href="<!--% absolute_url(baseurl,'about.html#no_metadata') %-->">Metadata</a> to the file.</li>
  </ul>
  <p>Don't forget to <strong>introduce yourself</strong> in your show.</p>
  
  <h2 id="upload_your_show">4. Upload your show<a href="<!--% absolute_url(baseurl,'about.html#upload_your_show') %-->">.</a></h2>
  <p>
  Once you have your audio ready you can post your show by going to the <a href="<!--% hub_baseurl %-->calendar.php">Calendar</a> 
  page or press the <strong><a href="<!--% hub_baseurl %-->calendar.php">⇧Upload⇧</strong></a> button.
  </p>
  <p>
  After you have selected a date you will be redirected to the <a href="<!--% hub_baseurl %-->request.php">request page</a>, 
  where you will be asked to select your show and email address. 
  We will send a link to where you can upload your show to this address and so it must be a valid working address 
  that you can access quickly. 
  We intend to use <a href="https://www.gnupg.org/">GPG</a> to speed up the validation of hosts, 
  so you may wish to use an email address that has an associated public key available on public key servers.
  </p>
  <p>
  <a href="<!--% absolute_url(baseurl,'about.html#requesting_slot') %-->">More Information</a>.
  </p>
  
  <h2 id="questions">Questions ?<a href="<!--% absolute_url(baseurl,'about.html#questions') %-->">.</a></h2>
  <p>
  Got any questions not covered here, then just email <strong>"admin" at "HPR"</strong>, 
  and we'll get in touch with you with all you need to know about getting your show published.<br />
  You can chat with other podcasters using IRC in the <strong>#oggcastplanet</strong> channel on the 
  <a href="https://web.libera.chat/gamja/?channels=oggcastplanet">libera.chat</a> network. 
  Follow us on <a href="https://botsin.space/@hpr">Mastodon</a> (use the tag <strong>#hpr</strong>) 
  and on <a href="https://twitter.com/hpr">Twitter</a> (use the tag <strong>#hpr</strong>). 
  We have a <a href="https://www.facebook.com/HenryPartickReilly">Facebook</a> and 
  <a href="https://www.linkedin.com/groups?mostPopular=&amp;gid=3737302">LinkedIn</a> group, 
  so please join and spread the word.</p>
  
  <h2 id="still_nervous">Still Nervous<a href="<!--% absolute_url(baseurl,'about.html#still_nervous') %-->">.</a></h2>
  <p> 
  Fellow listeners like yourself contribute the shows and so we all know how hard it is to do that first show. 
  You're probably worried that we won't like the topic. 
  Well don't be, have a look at our <a href="<!--% absolute_url(baseurl) %-->eps/index.html">Archive</a> to see how diverse 
  the contributions have been. You're probably worried about the quality of your audio, that you sound funny, 
  that English isn't your native language, that you suffer from a speech impediment, 
  that your show has loads of ummms and awws in it, well don't be. 
  We have plenty of hosts that fall into all these categories but continue to produce great shows.
  </p>
  <p>
  At the end of the day the show is about the content and not the quality of the audio. 
  That's not to say we won't help you with ways to improve the audio if you wish, or narrate your script if you can't 
  or won't record it yourself. 
  Drop into the IRC channel <a href="https://web.libera.chat/gamja/?channels=oggcastplanet">#oggcastplanet</a> where there are 
  people who will help.<br />
  </p>
  
  <h2 id="motto">Our Mottos</h2>
  <blockquote>Any audio is better than no audio.</blockquote>
  <blockquote>Any topic of intrest to hackers.</blockquote>
  <blockquote>It ain't a show unless it's on the server.</blockquote>
  <blockquote>If you tell us you are doing a show, then you owe us a show.</blockquote>

  <p>You don't need anyones permission to upload a show, but if you have any questions then drop into the 
    <a href="https://web.libera.chat/gamja/?channels=oggcastplanet">#oggcastplanet</a> channel on libera.chat 
    and chat with a live person 24/7.
  </p>

  <hr />
  
  <h1 id="requested_topics">Requested topics<a href="<!--% absolute_url(baseurl,'about.html#requested_topics') %-->">.</a></h1>

  <p>This is a list of topics that have been requested by the community. 
    Feel free to add it to the list by emailing admin at hpr or by tweeting us on <a href="https://twitter.com/hpr">@HPR</a>.</p>
  <ul>
    <li>How did you get into podcasting/linux/geekdom?</li>
    <li>What podcasts you listen to and can recommend</li>
    <li>What's in your bag? Tell us what tools/gear/stuff you keep close at hand.</li>
    <li>What got you into Linux?</li>
    <li>Your favorite Android applications.</li>
    <li>Your favorite desktop applications.</li>
    <li>Your favorite browser extensions.</li>
    <li>A introduction to Wireshark.</li>
    <li>How to set up your own blog.</li>
    <li>Choosing a artistic design for website, business cards etc.</li>
    <li>Music Theory</li>
    <li>Installing a VPN to your home network</li>
    <li>Init and System.d</li>
    <li>Episodes for the LPI, or the Networking series.</li>
    <li>Beginning Audio Series for HPR and OSMP Release
    <li>Hackintosh computers - what are they, why would you want one.</li>
    <li>Grub 2.0 introduction and customization.</li>
    <li>FM Transmitter hack to listen into internet streams</li>
    <li>How I Got Into Accessible Computing</li>
    <li>How to do knitting</li>
    <li>How to build a house</li>
    <li>Bitcoin howto <a href="<!--% absolute_path(baseurl) %-->eps/hpr0788/index.html">hpr0788</a></li>
    <li>How to solder <a href="<!--% absolute_path(baseurl) %-->eps/hpr1037/index.html">hpr1037</a>, 
    <a href="<!--% absolute_path(baseurl) %-->eps/hpr1047/index.html">hpr1047</a></li>
    <li>How to weld</li>
    <li>How to fix a car</li>
    <li>Reviews of stream playing software, (for linuxheads who don't want to keep a browser tab open all the time)</li>
    <li>Reviews of stream ripping software on linux</li>
    <li>Beginners guide to gnuplot</li>
    <li>Nagios series, intro, setup, advanced ...</li>
    <li>How to set up GPG/openPGP</li>
    <li>What I do with my Raspberry Pi</li>
    <li>It broke, I fixed it</li>
    <li>How does coreboot work</li>
    <li>Introduction to HAM Radio</li>
    <li>I've moved and they do it like this here</li>
    <li>How to record a tag team tutorial on a topic</li>
    <li>Open Street Map new editor</li>
    <li>etymology</li>
    <li>functional versus procedural programming</li>
    <li>sed, awk and grep</li>
    <li>Setting up imap/smtp (gmail) in a cli mail program</li>
    <li>Irssi - a sane setup</li>
    <li>Your view of the future</li>
    <li>Alternative uses for Bayesian email classifiers (<a href="https://www.youtube.com/watch?v=JKB5CojW4AA">more info</a>)</li>
    <li>How to use a multimeter, and other basic electronic components like a 555 timer</li>
    <li>How does Hubble remain fixed on a spot in space while in orbit of the earth</li>
    <li>Gnu automake system.</li>
    <li>What's the deal with IPv6 (i.e., why can't we just NAT at the ISP level, are there privacy issues 
      in having your MAC address as part of your IP?)</li>
    <li>Network like a Pro.  If you were to treat your home network like a corporate server farm, 
      what tools and hardware would it entail to treat your home network like a security professional?  
      What do we need for a firewall and what are the detection/prevention technologies that we could be implementing?</li>
    <li>Beyond Firewall and an IDS/IPS, what do I need?  I've started listening to Security Weekly, 
      starting with last December, and at one point the suggested a secondary IDS, behind the firewall, 
      to record what the primary defenses missed.  Where and how do I set that up?  Beyond firewall and IDS, 
      what other tools should I be running, where should they be in my network, and how many physical boxes are we talking?  
      Emphasis should be on low power devices and free as in beer tools.</li>
    <li>Now That Your Security is in Place, How to Read Logs and Formulate a Response to an Intrusion.  
      What I've learned from SW, is that you can't prevent an intrusion, it's how to respond when you are compromised.  Again, according to SW, the security manager's job is to detect intrusions, inside 48 hours rather than 48 months.  How can you protect your proprietary data and customer database?</li>
    <li>What Are the Answers I Need, To the Questions I Don't Know Enough to Ask?</li>
    <li>#IPFS (and don't leave out IPNS!). I'd really like to get a better understanding of practical use of this.</li>
    <li>Any experiences integrating Dell/Wyse thin- and zero- clients into linux networks.</li>
  </ul>
  
  <hr />
  
  <h1 id="agreement">Stuff you need to know<a href="<!--% absolute_url(baseurl,'about.html#agreement') %-->">.</a></h1>
  <p>
  This is some important information that you will need to know before uploading to HPR.
  </p>

  <h2 id="wikipedia">You will no longer be allowed to edit HPR pages on Wikipedia
    <a href="<!--% absolute_url(baseurl,'about.html#faq_wikipedia') %-->">.</a></h2>
  <p>
  Once you upload a show, you will no longer be allowed to create or edit pages relating to 
  <a href="https://en.wikipedia.org/wiki/Hacker_Public_Radio">Hacker Public Radio</a> in 
  <a href="https://en.wikipedia.org/wiki/Wikipedia:FAQ/Organizations">Wikipedia</a>.<br />
  See our <a href="<!--% absolute_url(baseurl,'about.html#faq_wikipedia') %-->">FAQ about 
    the HPR Wikipedia page</a> for more information.
  </p>

  <h2 id="mailinglist">All policy decisions are made by the HPR Community
    <a href="<!--% absolute_url(baseurl,'about.html#mailinglist') %-->">.</a></h2>
  <p>
  The community decides the HPR policies.
  Please join the <a href="<!--% absolute_url(baseurl,'/maillist') %-->">HPR Mailing List</a> to participate.
  </p>

  <h2 id="no_shows_no_hpr">HPR will stop as a project if there are not enough shows
    <a href="<!--% absolute_url(baseurl,'about.html#no_shows_no_hpr') %-->">.</a></h2>
  <p>
  Hacker Public Radio is dedicated to sharing knowledge.
  We release about 260 shows a year, which is probably more than all of the other FOSS podcasts put together.
  If you listen to HPR, then we would love you to 
  <a target="_blank" href="<!--% absolute_url(baseurl,'about.html#so_you_want_to_record_a_podcast') %-->">contribute</a> 
  one show a year.
  Remember once that all the reserve shows have been used up and there are no more shows in the queue, HPR as a project will stop.

  </p>
  <h2 id="patrons">Support our Patrons<a href="<!--% absolute_url(baseurl,'about.html#patrons') %-->">.</a></h2>
  <p>
  Our hosting is kindly provided to us by <a href="<!--% absolute_path(baseurl) %-->correspondents/0174.html">Josh Knapp</a> 
  from <a href="https://anhonesthost.com/hosting/shared-hosting">AnHonestHost.com</a>, and The Internet Archive at <a href="https://archive.org/donate/">Archive.org</a>.
  We encourage you to support our Patrons.
  Over the years kind people have donated services and supported equipment for our conferences.

  </p>
  <h2 id="syndication">We do not syndicate non HPR Shows<a href="<!--% absolute_url(baseurl,'about.html#syndication') %-->">.</a></h2>
  <p>
  HPR is founded on the principle of Hackers sharing knowledge.
  For this reason we are only releasing material created exclusively for HPR.
  We will continue to promote new podcasts and other creative commons material, 
  but if you wish to have your show promoted, 
  then please contact our sister site <a href="https://freeculturepodcasts.org/">Free Culture Podcasts</a>.
  </p>
  <p>
  That said, if there is a piece of creative commons content that you would like to promote, then feel free to record a regular show.
  There you can introduce the content and explain why it is important, providing links to where we can get more information etc.,  
  and then include one example episode.
  </p>

  <h2 id="license_setting">You are agreeing to license your show 
    CC-BY-SA<a href="<!--% absolute_url(baseurl,'about.html#license') %-->">.</a></h2>
  <p>
  All our shows are now released under a 
  <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)</a>
  license, which means that while you continue to retain the copyright to your show, 
  you are allowing us (and everyone else) to use it provided we give you attribution and that we release it under the same license.
  Click the <a href="https://creativecommons.org/licenses/by-sa/4.0/">link</a> for more information.
  </p>

  <h2 id="permission">You have permission to redistribute your show in its entirety
    <a href="<!--% absolute_url(baseurl,'about.html#permission') %-->">.</a></h2>
  <p>
  Never include content, for example music, in your show that you do not have permission to redistribute.
  Try to avoid using any content in your show that can not be redistributed under a 
  <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) </a> 
  license.
  If you are redistributing under  another Creative Commons license, GNU Free Documentation License, public domain, 
  or FLOSS software license, then please signal that when you upload your show. We do not post other copyrighted content, 
  even if it is made available under fair use, or by arranged permission.
  </p>

  <h2 id="not_moderated">The audio of your show will not be 
    moderated<a href="<!--% absolute_url(baseurl,'about.html#not_moderated') %-->">.</a></h2>
  <p>
  We do not vet, edit, moderate or in any way censor any of the audio you submit, we trust you to do that.
  Aside from checking snippets for audio quality/spam checking, 
  we have a policy that we don't listen to the shows before they are aired.
  This is a long standing tradition arising from the fact that HPR is a community of peers 
  who believe that any host has as much right to submit shows as any other.
  <br />
  We <strong>do</strong> transcode the audio into different formats.
  </p>
  <p>
  Please note that this only relates to the audio you upload.
  The rest of the meta-data (branding/summaries/tags/show notes/etc.), are managed by the HPR Community, 
  and <strong>may</strong> be edited.
  The show <a href="<!--% absolute_path(baseurl) %-->eps/hpr2210/index.html">hpr2210 :: On Freedom of Speech and Censorship</a> 
  describes the agreed approach to this topic.
  </p>

  </p>

  <h2 id="explicit_content">Your show will be signaled as containing explicit content
      <a href="<!--% absolute_url(baseurl,'about.html#explicit') %-->">.</a></h2>
  <p>
  Given that we are an open forum for free speech we signal all our shows as "explicit" with the assumption 
  that the listeners will apply the required discretion when playing the shows in public.
  That said the majority of our content is technical in nature and therefore is often considered appropriate for any audience.
  If you feel that your show will be considered <strong>inoffensive in every region of the world</strong> 
  then you can signal that when you upload the show.
  </p>

  <p>
  When dealing with content that is "explicit" or contains material that would best be suited for a mature audience, 
  it has become traditional to include a short warning at the very beginning of the show before the intro, 
  to allow listeners time to switch off the episode should they so desire.
  </p>

  <p>
  <a href="<!--% absolute_path(baseurl) %-->eps/hpr2210/index.html">hpr2210 :: On Freedom of Speech and Censorship</a> 
  describes the agreed approach to this topic.
  </p>

  <h2 id="schedule">You determine when your show will be released<a href="<!--% absolute_url(baseurl,'about.html#schedule') %-->">.</a></h2>
  <p>
  The HPR Schedule is entirely community driven and we recommend that <strong>you</strong> pick the date or show number 
  as then you know when your show will be released.
  However the slots will only be allocated once the shows have been successfully processed.
  Any missing information can result in a show missing the requested slot.
  Once the slots have been allocated it is not possible to move them.
  </p>

  <h2 id="reserving">All reservations need to be approved<a href="<!--% absolute_url(baseurl,'about.html#reserving') %-->">.</a></h2>
  <p>
  Any host can select any free slot a up to year in advance. However the audio must be ready at time of picking a slot 
  so that it can be upload immediately afterwards.
  </p>
  <p>
  In exceptional circumstances it may be necessary to reserve a slot while not having the audio available, 
  but this must be approved by the <a href="<!--% absolute_url(baseurl,'/maillist') %-->">HPR Mailing List</a> in advance.
  Be sure to allow as much time as possible, and include a reason why you feel it is necessary to reserve the slot.
  </p>
  <p>
  This is intended only for exceptional circumstances, such as a scheduled interview where we would 
  like the audio to be released as soon after the event as possible, 
  or to cover an important topical situation that has occurred.
  Due to the extended time now needed to post shows to external sites, 
  the extra work this entails and the disruptive effect of reservations, 
  we will no longer be allowing them except in very rare cases of the type mentioned above.
  </p>
  <p>
  The following are standing reservations:
  <ul>
  <li>Anniversary episodes.</li>
  <li>HPR Community News on the first Monday of the month.</li>
  <li>The first day of the fourth month.</li>
  <li>The days following new year.</li>
  </ul>
  </p>

  <h2 id="utf8">We use UTF-8 end to end<a href="<!--% absolute_url(baseurl,'about.html#utf8') %-->">.</a></h2>
  <blockquote>See the video "<a href="https://www.youtube.com/watch?v=MijmeoH9LT4">Characters, Symbols and the Unicode Miracle - 
  Computerphile</a>" for an interesting background to ASCII and <a href="https://en.wikipedia.org/wiki/UTF-8">UTF-8</a>.
  </blockquote>

  <h2 id="accessibility">Keep accessibility in mind<a href="<!--% absolute_url(baseurl,'about.html#accessibility') %-->">.</a></h2>
  <p>
  When you includes output from the command line in the show notes, posting screen-shots of console or terminal output 
  makes it impossible for screen readers to access the text.
  Always try to include the raw output ( eg: embedded in &lt;pre&gt; tags) 
  <br />
  Include descriptive language in any link texts. 
  <br />
  Avoid structures like: <em>"For accessibility information click 
    <a href="<!--% absolute_url(baseurl,'about.html#accessibility') %-->">here</a>"</em><br />
  Rather use: <em>"For more information click our 
    <a href="<!--% absolute_url(baseurl,'about.html#accessibility') %-->">accessibility page</a>"</em><br />
  </p>

  <h2 id="international">Your show will be heard by an International Audience
    <a href="<!--% absolute_url(baseurl,'about.html#international') %-->">.</a></h2>
  <p>
  We have people listening from all over the world, who may not have the same cultural background as yourself, 
  therefore you should be as clear as possible when giving details.
  For example always give temperatures in both Celsius and Fahrenheit, measurements in Metric and Imperial, 
  dates in <strong>YYYY-MM-DD</strong> <a href="https://en.wikipedia.org/wiki/ISO_8601">iso8601</a> format, 
  and abbreviations using the <a href="https://en.wikipedia.org/wiki/NATO_phonetic_alphabet">NATO phonetic alphabet</a>.
  Never assume that your audience knows what age a sixth grader is, or how big a 20 Cent Euro coin is.
  Keep in mind that keyboard layouts are also different so make sure to specify the key shape or the position 
  inrelation to a common known standard.
  For example:
  </p>
  <blockquote>The at sign normally situated above the 2 key on a US keyboard, and has a unicode number of U+0040.
  For more information see <a href="https://en.wikipedia.org/wiki/At_sign">Wikipedia</a></blockquote>
  <p>
  <a href="https://xkcd.com/1179/"><img src="https://imgs.xkcd.com/comics/iso_8601.png" 
  title="ISO 8601 was published on 06/05/88 and most recently amended on 12/01/04." alt="An xkcd cartoon showing ISO 8601" /></a>
  </p>

  <h1 id="reserve_queue">Feed the reserve queue<a href="<!--% absolute_url(baseurl,'about.html#reserve_queue') %-->">.</a></h1>
  <p>
  The reserve queue is intended only to be used in the cases where there is still a gap in the schedule one week prior to release. 
  This was known as the emergency queue, but now can also be used when the hosts don't care when the shows are scheduled. 
  They will be used on a first come first go basis, when there is no conflict with the scheduling guidelines.
  These shows contain a message alerting listeners to the fact that we had free slots that were not filled.
  </p>

  <hr />
  
  <h1 id="scheduling_guidelines">Scheduling Guidelines</h1>
  <ol>
  <li>You must have your audio recording ready to upload <strong>before</strong> you pick a slot.</li>
  <li>New hosts, Interviews, and other time critical shows should use the first free slot.</li>
  <li>Always try and fill any free slots that are available in the upcoming two weeks.</li>
  <li>When the queue is filling up then leave some slots free for new contributors.</li>
  <li>Post non urgent shows into the first empty week.</li>
  <li>If you are uploading a series of shows then post them one every two weeks.</li>
  <li>If you have a non urgent show that is timeless, then add it to the <a href="<!--% absolute_url(baseurl,'about.html#reserve_queue') %-->">Reserve Queue</a>.</li>
  </ol>
  
  <hr />
  
  <h1 id="recording_a_podcast">Recording a Podcast</h1>
  <p>
  On this page you will find information on how to record a podcast. Our golden rule is <strong>Any audio is better than no audio.</strong> 
  so keep that in mind. Don't forget to <strong>introduce yourself</strong> in your show.
  </p>
  <h2 id="portable_media_player">Recording with a portable media player
    <a href="<!--% absolute_url(baseurl,'about.html#portable_media_player') %-->">.</a></h2>
  <p>
  Many of today's <a href="https://wiki.xiph.org/PortablePlayers">portable media players</a> support recording audio out of the box. 
  Search for "Voice Recorder", to see if there is an application for your smartphone. 
  Whichever option you have close to hand, try and set the recording to the best quality format 
  (<a href="https://en.wikipedia.org/wiki/WAV">WAV</a> or <a href="https://en.wikipedia.org/wiki/FLAC">FLAC</a>), 
  and set everything else to the highest setting. 
  It's always the goal to get the best quality audio but here at Hacker Public Radio we value content over quality 
  and so long as it's audible we'll take it. 
  </p>
  <p>
  Then just record your show, <a href="<!--% absolute_url(baseurl,'about.html#requesting_slot') %-->">request a slot</a>, 
  and we'll do the rest.
  </p>
  
  <h2 id="smart_phone">Recording with a portable media player<a href="<!--% absolute_url(baseurl,'about.html#smart_phone') %-->">.</a></h2>
  <p>
  Some of our hosts recommend <a href="https://gitlab.com/axet/android-audio-recorder">Android Audio Recorder</a> on my android phone. 
  It's available on <a href="https://f-droid.org/en/packages/com.github.axet.audiorecorder/">F-Droid</a> 
  and <a href="https://play.google.com/store/apps/details?id=com.github.axet.audiorecorder">Google Play</a>. 
  These are the recommended settings:
  </p>
  <ul>
    <li>Recording Source - Unprocessed</li>
    <li>Sample Rate - 44.1 kHz</li>
    <li>Encoding - .flac</li>
    <li>Audio Channels - Mono</li>
  </ul>
  
    
  <h2 id="editing">Recording/Editing using your Computer<a href="<!--% absolute_url(baseurl,'about.html#editing') %-->">.</a></h2>
  <p>
  The majority of podcasters use <a href="https://audacity.sourceforge.net/download/">Audacity</a>. 
  First set the Project Rate to 44100Hz, then you can either record your show in Audacity itself or 
  import the file you recorded earlier and edit it as you wish.
  </p>
  <p>
  <img width="600" src="images/contribute-audacity-record.png" alt="Audacity Can Record" title="Audacity Screenshot of Recording" >
  </p>
  <blockquote>Audacity is a free, easy-to-use and multilingual audio editor and recorder for 
    Windows, Mac OS X, GNU/Linux and other operating systems.</blockquote>
  <iframe width="640" height="390" src="//www.youtube.com/embed/ss8CyTwBOPY" style="border: none"></iframe>
  <p>
  When you have finished editing your podcast you can export it.
  </p>
  <ol>
    <li>Confirm that the Project Rate is set to 44100 Hz (bottom left).</li>
    <li><em>File -> Export</em> and select <strong>FLAC File</strong>.</li>
    <li>Click <em>Options...</em> to reveal FLAC Export Setup.</li>
    <li>Set <em>Level</em> to <strong>8 (best)</strong>.</li>
    <li>Set <em>Bit depth</em> to <strong>24</strong>.</li>
  </ol>
  <p>
  <img width="600" src="images/contribute-audacity-export.png" alt="Audacity Export Settings" title="Audacity Screenshot of an Export" >
  </p>
  
  <h2 id="phone_interviews">Recording Interviews with the Phone<a href="<!--% absolute_url(baseurl,'about.html#phone_interviews') %-->">.</a></h2>
  <p>
  If you want to record a one-to-one interview with someone then you can use 
  <a href="https://www.skype.com/en/">Skype</a> in conjunction with <a href="https://atdot.ch/scr/">Skype Call Recorder</a>. 
  If everyone is using skype then it won't cost you anything otherwise you will need to pay for SkypeOut service. 
  Although the quality is usually terrible, you could also put your phone on hands free and 
  record with a <a href="https://wiki.xiph.org/PortablePlayers">portable media player</a>.
  </p>
  
  <h2 id="round_table">Recording round table discussions<a href="<!--% absolute_url(baseurl,'about.html#round_table') %-->">.</a></h2>
  <p>
  If you would like to record with multiple participants then you can use <a href="https://www.mumble.com/">Mumble</a>. 
  Connect to <strong>chatter.skyehaven.net</strong> Port: <strong>64738 </strong>.<br />
  Walk through the audio wizard and then pop into the <strong>Hacker Public Radio</strong> room. 
  Once you are ready press the <strong>recording</strong> button, select <em>multichannel</em> and then <em>start</em>. 
  That will record multiple tracks, one for each participant which you can edit and then submit.
  <br />
  Kwisher made a <a href="<!--% absolute_url(baseurl) %-->mumble-howto">Mumble tutorial</a> 
  which you might find useful and <a href="<!--% absolute_url(baseurl) %-->correspondents/0228.html">Delwin</a> 
  has produced a number of short shows on how to configure the audio quality.
  </p>
  <p>
  <img width="600" src="images/contribute-mumble-record.png" alt="Audacity Can Record" title="Audacity Screenshot of Recording" >
  </p>

  <h2 id="background_music">Avoid Bedding/background music<a href="<!--% absolute_url(baseurl,'about.html#background_music') %-->">.</a></h2>
  <p>
  You may include backing music but it's best if you don't. Most long time podcast listeners speed up their shows, 
  as this allows them to cram more shows into a day. Having bedding music makes it more difficult to understand, 
  and prevents tools like <em>truncate silence</em> from working correctly.<br/>
  Others will convert shows to mono to listen in one ear leaving the other free to carry out their other chores. 
  Still more slow the shows down so that they can improve their English. 
  Others are hard of hearing and backing music makes it difficult to understand the text.
  </p>
  
  <h2 id="encoding">We mix down to Mono<a href="<!--% absolute_url(baseurl,'about.html#encoding') %-->">.</a></h2>
  <p>
  We will by default mix down your show to one channel mono and we will 
  <a href="https://gitorious.org/hpr-scheduling-system/hpr-scheduling-system/source/2d526e000d31e79afa3d863ea8659503e2074267:transcoding/hprtranscode">transcode</a> to MP3, ogg and spx formats. If you want to control this in more detail then please email admin at Hacker Public Radio for more information.
  </p>
  
  <h2 id="no_metadata">No need to add Metadata to the file<a href="<!--% absolute_url(baseurl,'about.html#no_metadata') %-->">.</a></h2>
  <p>
  There is no need to add any information to the file as that will be inserted based on the information you fill in when you upload the show.
  </p>

  
  <hr />
  
  <h1 id="promote_hpr">Please promote HPR<a href="<!--% absolute_url(baseurl,'about.html#promote_hpr') %-->') %-->">.</a></h1>

  <p>Feel free to use the promotional material to spread the word in your podcasts, or have them played on to other shows.</p>
  <h2>General HPR promotion</h2>
  <ul>
  <li><a href="<!--% absolute_url(baseurl) %-->promos/HPRpromoKlaatu.ogg">Klaatu explains HPR Daily podcast by the 
    Community for the Community</a></li>
  <li><a href="<!--% absolute_url(baseurl) %-->promos/HPRpromoNewsCast.ogg">HPR Promo NewsCast theme by Klaatu</a></li>
  <li><a href="<!--% absolute_url(baseurl) %-->promos/HPRpromoSkirlet.ogg">HPR Promo by Skirlet</a></li>
  <li><a href="<!--% absolute_url(baseurl) %-->promos/hpr-contributor-promo-sax.ogg">HPR Promo sax theme by slick0</a></li>
  <li><a href="<!--% absolute_url(baseurl) %-->promos/hpr-contributor-promo-basenettheme.ogg">HPR Promo basenet roll theme by slick0</a></li>
  </ul>

  <h2>New Year Promo</h2>
  <p>
  <ul>
  <li><a href="<!--% absolute_url(baseurl) %-->promos/hpr-nye-promo.ogg">HPR New Years Promo</a></li>
  </ul>
  </p>

  <hr />
  
  <h1 id="requesting_slot">Picking a slot for your show</h1>
  <p>
  Any host can select any free slot a up to year in advance, by recording their show and uploading it to the desired slot. 
  In exceptional circumstances it may be necessary to reserve a slot while not having the audio available, 
  but this must be approved by the <a href="<!--% absolute_url(baseurl,'/maillist') %-->">HPR mailing list</a> in advance. 
  Be sure to allow as much time as possible, and include a reason why you feel it is necessary to reserve the slot.
  </p>
  <p>
  This is intended only for exceptional circumstances, such as a scheduled interview where we would like the audio to be 
  released as soon after the event as possible, or to cover an important topical situation that has occurred. 
  Due to the extended time now needed to post shows to external sites, 
  the extra work this entails and the disruptive effect of reservations, 
  we will no longer be allowing them except in very rare cases of the type mentioned above. 
  [<a href="https://lists.hackerpublicradio.com/pipermail/hpr/2018-February/003482.html">?</a>]
  </p>
  <p>
  You can post your show by going to the <a href="<!--% hub_baseurl %-->calendar.php">Calendar</a> page. 
  Once you have selected a date you will be redirected to the <a href="<!--% hub_baseurl %-->request.php">request page</a>, 
  where you will be asked to select your show and email address. 
  We will send a link to where you can upload your show to this address and therefore it must be a valid working address 
  that you can access quickly. We intend to use <a href="https://www.gnupg.org/">GPG</a> to speed up the validation of hosts, 
  so you may wish to use an email address that has an associated public key available on public key servers. 
  </p>
  <p>
  The audio of your show will not be moderated, however <em>the information provided in the upload form 
    <strong>may be moderated</strong></em>. 
    All publicly facing material is managed by the HPR Community as a whole, and not just the host providing the show. 
    The show <a href="<!--% absolute_url(baseurl) %-->eps/hpr2210/index.html">hpr2210 :: On Freedom of Speech and Censorship</a> 
    describes the agreed approach to this topic.
  </p>
  <p><strong>Note:</strong> This email address will be published on the HPR website and will be given out in the feeds, 
  so please use a <strong>public email</strong> address for this purpose. 
  Where we publish it we pad it with dot nospam at-sign nospam dot. <br />
  i.e. <em>hpr@example.com</em> becomes <em>hpr.nospam@nospam.example.com</em>. 
  If you do not want to have your email exposed, please contact the admin@hpr team to arrange a alias.
  </p>
  <p>
  Once you press <em>next</em>, an email will be sent to your email address pointing to where you can upload the show. 
  You need to <em>open</em> the link within <strong>15 minutes</strong> or the temporary lock will be released. 
  Once you open the link, you can fill in the information at your leisure. 
  The upload form works on the assumption you will be posting one show at a time, from the same IP address. 
  Once you have pressed submit you will not be able to edit any of the information.
  </p>
  
  <hr />

  <h1 id="adding_an_episode">Adding an Episode</h1>
  <p>
  The unique link sent by email will allow you to manage both the episode and information about yourself that is displayed on HPR. 
  The following information will be requested:
  </p>
  <h2 id="personal_information">Personal Information</h2>
  <p>
  Remember <em>All information will be displayed publicly</em>. The only exception is that your email address will be sent 
  in the feed with some anti-spam additions.<br />
  For example <em>hpr@example.com</em> will become <em>hpr.nospam@nospam.example.com</em>
  </p>
  <ul>
    <li id="email"><strong>email:</strong> <em>already populated</em><br />
    See notes <a href="<!--% absolute_url(baseurl,'about.html#requesting_slot') %-->">above</a><br />
    </li>
    <li id="image"><strong>image:</strong> <em>Optional</em><br />
    If you have associated a <a href="https://en.gravatar.com/">Gravatar</a> image with an email address, 
    then it will be displayed here. 
    Otherwise you can upload a 80x80 image .</li>
    <li id="Name_Handle"><strong>Name/Handle:</strong> <em>Mandatory</em><br />
    It should be the name you wish to be known as on HPR. It can be your real name, an Internet handle or both.</li>
    <li id="Default_license"><strong>Your Default license:</strong> <em>Mandatory</em><br />
    This field tells us what your work is normally licensed under. All our shows are now released under a 
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 
    International (CC BY-SA 4.0)</a> license, which means that while you continue to retain the copyright 
    to your show you are allowing us (and everyone else) to use it provided we give you attribution and 
    that we release it under the same license. Click the <a href="https://creativecommons.org/licenses/by-sa/4.0/">link</a>
    for more information.</li>
    <li id="Profile"><strong>Profile:</strong> <em>Optional</em><br />
    Enter some text about yourself with links to your blog or other online presence.</li>
  </ul>
  <p>
  Your profile information is used on the website, in the RSS feeds, and on social media sites. You can change your profile information at any time, by submitting another show.
  </p>
  <h2 id="episode_information">Episode Information</h2>
  <ul>
    <li id="Title"><strong>Title:</strong> <em>Mandatory</em><br />
    This will be a short descriptive title and will be used everywhere to identify your show. Any valid UTF-8 character is acceptable, but keep the length short and clear.</li>
    <li id="Short_Summary"><strong>Summary:</strong> <em>Mandatory</em><br />
    This is a short 100 character summary of what your show is about. 
    Please fill this out as it is used once the show has gone off the main page, on the mobile site, 
    on printed brochures, on text to speech announcements, on twitter, <a href="https://botsin.space/@hpr">Mastodon</a> etc.</li>
    <li id="Theme"><strong>Theme:</strong> <em>Automatic</em><br />
    The Intro, and the Outro will be added automatically. Please do not add it.
    </li>
    <li id="Explicit"><strong>Explicit:</strong> <em>Mandatory</em><br />
    See <a href="https://web.archive.org/web/20150326185817/http://www.apple.com/uk/itunes/podcasts/specs.html">iTunes</a> 
    for more information.</li>
    <li id="License"><strong>License:</strong> <em>Mandatory</em><br />
    All our shows are now released under a 
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)</a> 
    license, which means that while you continue to retain the copyright to your show you are allowing us (and everyone else) 
    to use it provided we give you attribution and that we release it under the same license. 
    Click the <a href="https://creativecommons.org/licenses/by-sa/4.0/">link</a> for more information.</li>
    <li id="show_notes"><strong>show notes:</strong> <em>Mandatory</em><br />
    It is important to provide good show notes because:
    <ul>
      <li><strong>They provide the listeners with more information on the topic.</strong><br />
      You have taken the time to record a show on a topic, so many people will want to find out more on the subject, 
      therefore you should include links to give more information. It is not enough to just give it in the show itself 
      as people may be listening while away from the Internet, and they may have forgotten or misheard your links.
      </li>
      <li><strong>They ensure your show gets posted on time.</strong><br />
      If you do not supply show notes then your show notes will need to be edited manually by an HPR volunteer and 
      this will most likely result in delays. During that time other shows will be processed and may get posted 
      before your show. 
      It is always better if you send us show notes yourself as you know best what information you are trying to convey.</li>
      <li><strong>They encourage people to download your show.</strong><br />
      We produce a lot of shows and many people download based on the text in the show notes. 
      If the show notes are not descriptive then it is less likely that 
      it will get as many downloads as other shows with good show notes.</li>
      <li><strong>They allow your show to be indexed by search engines.</strong><br />
      Search engines cannot determine the content of your show from the audio alone. 
      The only way for your show to be indexed is for you to describe in the associated text what you say in the audio.</li>
      <li><strong>They make your show accessible to the deaf and hard of hearing.</strong><br />
      Your audio is completely inaccessible to those who have hearing problems, 
      so the only way for your show to be of help to them is if you distill the essence of the show into the show notes. 
      If you are using a script to prepare your show then include that.</li>
    </ul>
    The amount you can enter is restricted to 4000 characters, but you can provide additional show notes if you wish. 
    Please add them to an full_shownotes.html file which you can expect to be served from 
    <!--% absolute_url(baseurl) %-->eps/hpr9999/full_shownotes.html<br /> <br />
          <li>
    If you wish to include text formatting then please use a format that supports it. We accept:

    <ul>
    <li>HTML5</li>
    <li>Markdown (standard)</li>
    <li>Markdown (GitHub flavoured)</li>
    <li>Markdown (Pandoc flavoured)</li>
    <li>RestructuredText</li>
    <li>txt2tags</li>
    <li>Plain text</li>
    </ul> 

    However please restrict yourself to text unless you are experienced producing valid markdown/HTML5. 
    Regardless of the format you send your shownotes will end up in html5 &lt;article&gt; section, 
    where the header and footer are not available to you. Avoid using &lt;div&gt; or &lt;span&gt;. 
    The inclusion of JavaScript will send your show into quarantine, until an experienced HPR volunteer 
    can be found to debug it.<br />
    It takes us a lot longer to fix incorrectly formatted shownotes than plain text, so please only create formatted 
    show notes if you know what you are doing and are sure that what you are writing is valid. 
    </li>
    <li id="shownotes_format"><strong>Show Note Format:</strong> <em>Optional</em><br />
    Please tell us which format, if any you used when filling in your shownotes.
    <ul>
      <li><a href="https://www.w3schools.com/html/default.asp">HTML5</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Markdown">Markdown (standard)</a></li>
      <li><a href="https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax">Markdown (GitHub flavoured)</a></li>
      <li><a href="https://pandoc.org/MANUAL.html#pandocs-markdown">Markdown (Pandoc flavoured)</a></li>
      <li><a href="https://docutils.sourceforge.io/docs/user/rst/quickstart.html">RestructuredText</a></li>
      <li>Plain text having no formatting.</li>
    </ul>
    </li>
    
    <li id="series"><strong>Series:</strong> <em>Optional</em><br />
    Select the <a href="<!--% absolute_url(baseurl) %-->series/index.html">series</a> if any that your show is a part of.
    </li>
    <li id="tags"><strong>Tags:</strong> <em>Optional</em><br />
    Add a list of comma separated tags. Pick the most important words from the shownotes. 
    These are used to <a href="<!--% absolute_url(baseurl) %-->tags.html">find shows via the tags page</a>.
    </li>
    <li id="upload_method"><strong>Upload Method:</strong> <em>Optional</em><br />
    You have the choice of the following options:<br />
      <ul>
        <li id="browser"><strong>Upload now via this browser</strong><br />
        You can upload single or multiple files using this method. 
        Chrome will display the percentage uploaded but to see this in Firefox you will need to install a 
        <a href="https://addons.mozilla.org/en-US/firefox/addon/uploadprogress/">plugin</a>, or just wait.
        </li>
        <li id="url"><strong>Provide a url for us to get it from</strong><br />
        Using this option may cause delays as a HPR volunteer will need to troubleshoot any issues that may occur, 
        and this can result in your show not been posted on time. 
        This must be publicly accessable using a curl or wget command. 
        Please avoid services that require login or downloading via a browser.
        </li>
        <li id="upload_later"><strong>Other</strong><br />
        The postal information will be sent to you after submission.
        </li>
      </ul>
      <br />
      If you want to submit an additional file with your show, then put them in a zip, or tgz file. 
      This should expand to a directory with a index.html file that refers to the other files. 
      This will be hosted in the eps directory under a new directory with the episode number.
      <pre>
      <!--% absolute_url(baseurl) %-->eps/hpr9999/full_shownotes.html
      <!--% absolute_url(baseurl) %-->eps/hpr9999/other-file.pdf
      <!--% absolute_url(baseurl) %-->eps/hpr9999/yet-other-file.c
      ...
      </pre>
      Ensure that all links are full urls, as relative urls will not work in RSS feeds. 
      Adding additional files will delay processing as they need to be verified manually.
    </li>
  </ul>
  <p>
  Press submit and your show will be sent to the HPR Volunteers to be processed. 
  Keep an eye on the <a href="<!--% hub_baseurl %-->calendar.php">calendar</a> for when it is posted.
  Your show information is used to process the media files, on the website, in the RSS feeds, and on social media sites.
  </p>

  <hr />
  
  <h1 id="workflow">Workflow</h1>

  <ol>
  <li>REQUEST_UNVERIFIED    - </li>
  <li>REQUEST_EMAIL_SENT    - email sent</li>
  <li>EMAIL_LINK_CLICKED    - pending upload</li>
  <li>SHOW_SUBMITTED        - upload complete</li>
  <li>METADATA_PROCESSED    - shownotes.{json,txt} processed to html</li>
  <li>SHOW_POSTED           - show in the database</li>
  <li>MEDIA_TRANSCODED      - audio all generated</li>
  <li>UPLOADED_TO_IA        - on the IA and visible</li>
  <li>UPLOADED_TO_RSYNC_NET - archived on rsync.net</li>
  </ol>
  
  <hr />
  
  <h1 id="faq">Frequently Asked Questions</h1>
  <h2 data-number="0.1" id="what-is-hacker-public-radio"><span class="header-section-number">0.1</span> What is Hacker Public Radio?</h2>
  <ul>
  <li><p>Hacker Public Radio (HPR) is an Internet Radio show (podcast) that releases shows (episodes) 
    every weekday Monday through Friday.</p></li>
  <li><p>What differentiates HPR from other podcasts is that the shows are crowd sourced from the community 
    - fellow listeners like you. There is no restriction on how long shows can be, nor on the topic you can cover, 
    as long as they are not spam and "are of interest to Hackers".</p>
  <p>If you want to see what topics have been covered so far just have a look at our 
    <a href="<!--% absolute_url(baseurl) %-->eps/index.html">Archive</a>. We also allow for shows to be grouped 
    into <a href="<!--% absolute_url(baseurl) %-->series/index.html">series</a> so that hosts can go into more detail on a topic.</p></li>
  <li><p>Look at the <a href="<!--% absolute_url(baseurl,'about.html#about') %-->"><em>About HPR</em></a> 
  page for a full description of <em>The HPR Community</em>, <em>Free Culture</em>, <em>Governance</em> and our <em>Patrons</em>.</p></li>
  <li><p>A question on the mailing list in 2020 asked if HPR is a Content Publication Network like YouTube, 
    or is it a Podcast that random people contribute to? Or to put it another way, is the host addressing the 
    Internet in general or the HPR Audience?</p>
  <ul>
  <li>The consensus of opinion is that HPR is a Podcast contributed to by the community, not a Content Publication Network.</li>
  </ul></li>
  </ul>
  <h2 data-number="0.2" id="what-is-a-show"><span class="header-section-number">0.2</span> What is a show?</h2>
  <ul>
  <li><p>A show is your <em>audio</em> presentation (which we do not moderate), 
  with an <em>intro</em>, <em>outro</em>, a <em>title</em> and a <em>summary</em>.</p></li>
  <li><p>The <em>audio</em> is the recording you have made and sent in to HPR.</p></li>
  <li><p>The <em>intro</em> (introduction) is a piece of audio introducing the show. The components are:</p>
  <ul>
  <li>a synopsis taken from the details submitted with the show (added automatically)</li>
  <li>acknowledgement of our hosting provider (added automatically)</li>
  <li>HPR introduction music (added automatically)</li>
  </ul></li>
  <li><p>The <em>outro</em> is added automatically. It contains the HPR outro music.</p></li>
  <li><p>Each show needs a <em>title</em> to describe what it is about.</p></li>
  <li><p>Similarly, a <em>summary</em> helps to add more information describing the show so a potential listener 
  can decide whether to listen to it or not.</p></li>
  <li><p>Each show is expected to have certain mandatory attributes listed 
    <a href="<!--% absolute_url(baseurl,'about.html#what-are-the-mandatory-elements-of-an-hpr-show') %-->">below</a>.</p></li>
  <li><p>HPR shows are usually expected to be informative or educational, and as such some sort of accompanying written material 
    is highly desirable. This might consist of brief notes, links to relevant web sites, or possibly longer notes 
    and examples. Photographs, diagrams and example files are also welcome if the host feels 
    it helps to get the message across.</p></li>
  <li><p>Shows are released under a <a href="">Creative Commons Attribution-ShareAlike 3.0 Unported</a> license. 
  See <a href="<!--% absolute_url(baseurl,'about.html#stuff_you_need_to_know') %-->"><em>Stuff you need to know</em></a> 
  for much more detail about this and related issues.</p></li>
  <li><p>As a contributor you can choose when your show will be released. 
    We only release one show a day, during week days,
    but if a slot is free you can claim it. Go to the <a href="<!--% hub_baseurl %-->calendar.php"><em>calendar</em></a> 
    page to do this. You need to have your show ready to upload before you reserve a slot though.</p></li>
  </ul>
  <h2 data-number="0.3" id="can-i-submit-a-show-made-for-another-podcast"><span class="header-section-number">0.3</span> 
  Can I submit a show made for another podcast?</h2>
  <ul>
  <li><p>Strictly, no. Shows are expected to have been made exclusively for HPR.</p></li>
  <li><p>However, we support promoting new podcasts and other creative commons material. 
    If you record a show of your own in which you introduce the other podcast, perhaps explaining why it is important, 
    and giving links to the feed, you may include an example episode.</p></li>
  <li><p>A series exists <a href="<!--% absolute_url(baseurl) %-->series/0075.html"><em>Podcast recommendations</em></a>, 
  which can be used for such shows.</p></li>
  </ul>
  <h2 data-number="0.4" id="what-defines-a-show-as-being-produced-for-hacker-public-radio"><span class="header-section-number">0.4</span> 
  What defines a show as being "<em>Produced for Hacker Public Radio</em>"?</h2>
  <ul>
  <li>If you create material and post it first on HPR then it meets the requirements of "<em>being produced for HPR</em>". 
  That means once you upload it to the HPR server you can publish it anywhere else you like.</li>
  </ul>
  <h2 data-number="0.5" id="what-are-the-mandatory-elements-of-an-hpr-show"><span class="header-section-number">0.5</span> 
  What are the mandatory elements of an HPR show?</h2>
  <ul>
  <li><p>See <a href="<!--% absolute_url(baseurl,'about.html#requesting_slot') %-->"><em>Picking a slot for your show</em></a> 
  for the full details of how to submit a show and what information is required.</p></li>
  <li><p>A quick summary of the main components is:</p>
  <ul>
  <li>A show title</li>
  <li>A summary of what the show is about</li>
  <li>The <em>explicit</em>/<em>clean</em> flag</li>
  <li>License</li>
  <li>Show notes</li>
  <li>Tags</li>
  <li>Audio</li>
  </ul></li>
  </ul>
  <h2 data-number="0.6" id="what-are-tags"><span class="header-section-number">0.6</span> What are tags?</h2>
  <ul>
  <li><p>We are trying to maintain a collection of tags to allow people to find shows on the same (or similar) topic.</p></li>
  <li><p>Tags are simple words or short phrases describing aspects of a show such as what topics are covered in it. 
    To get hints about what tags have already been used you can view all the current tags in alphabetical order on this page: 
    <a href="<!--% absolute_url(baseurl) %-->tags.html">Tag summary</a></p></li>
  <li><p>Some examples are: <b>android</b>, <b>creative commons</b> and <b>gaming</b>.</p></li>
  <li><p>Are there any tags that are best avoided?</p></li>
  </ul>
  <h2 data-number="0.7" id="is-it-ok-if-i-dont-include-notes-with-my-show') %-->"><span class="header-section-number">0.7</span> 
  Is it OK if I don't include notes with my show?</h2>
  <ul>
  <li><strong>Please don't do that</strong>. It is important to provide good show notes for reasons described on the 
  <a href="<!--% absolute_url(baseurl,'about.html#requesting_slot') %-->"><em>Picking a slot for your show</em></a> page:
  <ul>
  <li>They provide the listeners with more information on the topic your show is covering</li>
  <li>They ensure your show gets posted on time (the volunteers don't have to make notes for you)</li>
  <li>They encourage people to download your show</li>
  <li>They allow your show to be indexed by search engines</li>
  <li>They make your show accessible to the deaf and hard of hearing</li>
  </ul></li>
  </ul>
  <h2 data-number="0.8" id="how-do-i-include-photographs-or-other-files-with-my-show"><span class="header-section-number">0.8</span> 
  How do I include photographs or other files with my show?</h2>
  <ul>
  <li>TBA</li>
  </ul>
  <h2 data-number="0.9" id="what-is-and-is-not-edited-in-a-show-after-submission"><span class="header-section-number">0.9</span> 
  What is and is not edited in a show after submission?</h2>
  <ul>
  <li><p>We don't listen to the audio before posting a show to the website, so we don't change the content.</p></li>
  <li><p>Unless you have done so and told us you have, we add an introduction to the audio announcing what it is. 
    Similarly we add an <em>outro</em>. This is not <u>editing</u> since we don't change the content.</p></li>
  <li><p>We may make changes to the show title, summary or tags. Usually these are minor changes such as spelling corrections. 
    The intention is not any sort of censorship, merely to make these items more understandable or easier to index.</p></li>
  <li><p>Depending on the form the show notes take we may modify these.</p>
  <ul>
  <li>If what is submitted is plain text we convert it to Markdown in order to generate HTML.</li>
  <li>If the notes are one of the permitted markup formats (mostly Markdown flavours) we may adjust this to ensure 
    that valid HTML is generated.</li>
  <li>If the notes are HTML we run them through an HTML checker and correct any mistakes it highlights.</li>
  <li>We may correct spelling, grammar and punctuation if this clarifies anything which might otherwise be unclear.</li>
  <li>If despite the request for show notes of some kind, none are provided, we may add notes which help to clarify 
    the content of the show. This may be done after the show is released (when we have had a chance to listen to it).</li>
  </ul></li>
  <li><p>We are working on the production of reports about any changes made, which will be sent to the host after we have 
    processed the show.</p></li>
  <li><p>We may make changes to a show's metadata if the host requests it (see the item on 
    <a href="<!--% absolute_url(baseurl,'about.html#if-i-notice-an-error-in-my-shows-details-how-can-it-be-fixed') %-->">
      fixing errors after upload</a>).</p></li>
  <li><p>If a show contains links to resources which disappear after a period of time, we may at some future time change 
    the notes to refer to any <em>Wayback Machine</em> copy that can be found.</p></li>
  </ul>
  <h2 data-number="0.10" id="what-are-some-common-errors-in-show-notes"><span class="header-section-number">0.10</span> 
  What are some common errors in show notes?</h2>
  <p>It depends on the note format to some extent:</p>
  <h3 data-number="0.10.1" id="html-notes"><span class="header-section-number">0.10.1</span> HTML notes</h3>
  <ul>
  <li><p>It's very easy to hand-write bad HTML. That's why we use an HTML checker on it, and fix the errors it reports.</p></li>
  <li><p>A common fault is to write <code>&lt;code&gt;&lt;pre&gt;</code> to define a pre-formatted block of text using a fixed-width font. 
  However it's illegal because the <code>&lt;pre&gt;</code> tag can't be enclosed in other tags like 
  <code>&lt;code&gt;</code>. Use <code>&lt;pre&gt;&lt;code&gt;</code> instead.</p></li>
  </ul>
  <h3 data-number="0.10.2" id="markdown-notes"><span class="header-section-number">0.10.2</span> Markdown notes</h3>
  <ul>
  <li>This is quite a forgiving format. Some people embed HTML in the Markdown, and the HTML used suffers from some 
    of the issues discussed in this document. These are <em>much</em> harder to spot. The HTML checker can't 
    really help unless it's run on the output from Pandoc.</li>
  </ul>
  <h3 data-number="0.10.3" id="general-errors"><span class="header-section-number">0.10.3</span> General errors</h3>
  <ul>
  <li><p>Spelling is often an issue in notes. As the notes are processed they are edited in the Vim editor with the 
    spell check option turned on. In most cases spelling problems flagged by Vim are corrected.</p></li>
  <li><p>Grammar and punctuation can also be issues. We do not have very effective grammar checking tools in the note 
    preparation workflow. Modifications may be made to split up extra-long (often <em>comma-spliced</em>) sentences, 
    rationalise the use of capital letters and similar.</p></li>
  </ul>
  <h2 data-number="0.11" id="if-i-notice-an-error-in-my-shows-details-how-can-it-be-fixed"><span class="header-section-number">0.11</span> 
  If I notice an error in my show's details how can it be fixed?</h2>
  <ul>
  <li><p>The HPR administrators can make changes to show titles, summaries, notes and so forth. Ideally send an 
    email to <code>admin</code> at <code>hackerpublicradio.org</code> explaining what the problem is and we'll fix it for you. 
    We'll also ensure that the changes are propagated to the relevant page on archive.org.</p></li>
  <li><p>Don't be tempted to send in your corrections as a comment. Comments are not propagated to archive.org, so people 
    referring to that copy will not see the changes.</p></li>
  </ul>
  <h2 data-number="0.12" id="does-hobbypublicradio.com-have-anything-to-do-with-hpr"><span class="header-section-number">0.12</span> 
  Does <code>hobbypublicradio.com</code> have anything to do with HPR?</h2>
  <ul>
  <li><p>Some environments prevent access to sites which use the word <code>'hacker'</code> or <code>'hackers'</code> 
  in their names (or content in extreme cases). The site names <code>hobbypublicradio.{com,net,org}</code> have been created, 
  which link to the main HPR site, in order to get around this restriction.</p></li>
  <li><p>See the mailing list thread here: 
    <a href="https://lists.hackerpublicradio.com/pipermail/hpr/2015-February/002493.html" class="uri">
    https://lists.hackerpublicradio.com/pipermail/hpr/2015-February/002493.html</a></p></li>
  </ul>
  <h2 data-number="0.13" id="how-can-i-talk-to-other-hpr-hosts-and-listeners"><span class="header-section-number">0.13</span> 
  How can I talk to other HPR hosts and listeners?</h2>
  <ul>
  <li>You have a number of choices:
  <ul>
  <li>The mailing list <a href="mailto:hpr@hackerpublicradio.org" class="email">hpr@hackerpublicradio.org</a> is where various 
  policy matters are discussed and announcements made. You need to be a member of the list to post to it. 
  Visit the <a href="<!--% absolute_url(baseurl,'/maillist') %-->" ><em>listinfo page</em></a> to sign up.</li>
  <li>You can join the <strong>#oggcastplanet</strong> channel on IRC. 
  Visit the <a href="http://webchat.freenode.net/?channels=oggcastplanet">freenode.net</a> network to sign up.</li>
  <li>A number of HPR messages may be found on Twitter and 
  <a href="https://botsin.space/@hpr">Mastodon</a>.</li>
  <li>There is a <a href="https://t.me/+6fEhQrf5IEc4ZGU8">chat group on Telegram</a></li>
  <li>An HPR tradition exists where we record a 26-hour show at the turn of the year celebrating the 
    arrival of the New Year around the world. We use Mumble to record the show and anyone can connect 
    to the Mumble server and speak to other HPR listeners and hosts. The recording is used to make multiple 
    shows which are released when they are ready.</li>
  </ul></li>
  </ul>
  <h2 data-number="0.14" id="faq_wikipedia"><span class="header-section-number">0.14</span> Why has HPR not got a Wikipedia page?</h2>
  <p>
  Once someone contributes to Hacker Public Radio, the Wikipedia rules prevent us from editing a page. 
  You can of course create one prior to contributing a show, or ask for one to be created.
  </p>
  <p>
  We do of course believe that Hacker Public Radio should have a Wikipedia entry. 
  We are one of the longest running podcasts having started as Today with a Techie on 2005-09-19. 
  We also are unique in our community driven approach to producing shows. 
  And of course the fact that Wikipedia itself references us as a source 
  [<a href="https://es.wikipedia.org/wiki/Klaatu_(podcaster)">1</a>], 
  [<a href="https://en.wikipedia.org/wiki/Patrick_Volkerding">2</a>], 
  [<a href="https://en.wikipedia.org/wiki/StankDawg">3</a>], 
  [<a href="https://en.wikipedia.org/wiki/Summits_On_The_Air">4</a>], 
  [<a href="https://en.wikipedia.org/wiki/Jonas_%C3%96berg">5</a>]

  <h2 data-number="0.15" id="faq_anonymous_post"><span class="header-section-number">0.15</span> I'd like to post a show but I would 
  rather not have my email address published on the site.?</h2>
  <p>
  The mail is just a way for us to get back to you if there was an issue posting the show.
  </p>
  <p>
  If you trust the janitors to know your real email we can just use an alias for you on the web site and have it 
  forward the email to you automatically. That runs the risk that were the redirect list compromised then your 
  real email would get exposed. 
  </p>
  <p>
  If you prefer, we can use the janitor email for your shows with your own host id. Then if any emails come in we can manually 
  forward them at some point. The risk is that you are trusting the janitors to protect your email but again it could be compromised.
  </p>
  <p>
  In both cases we would do our best to protect your email but we can't guarantee anything.
  </p>
  <p>
  The other option is to use an a throwaway email, like <a href="https://www.guerrillamail.com/">https://www.guerrillamail.com/</a> 
  for your show. This will be up for enough time to get the key necessary for to post the show. 
  However keep in mind that we will be very suspicious of any submission done this way and will be checking it in detail, 
  so expect delays in processing.
  </p>
